# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# idea file
*.iml
*/*.iml
.idea/

# project
/.idea/
/target/
/.settings/
/.classpath
.project
*.iml

/*/target/
/*/.settings/
/*/.classpath
/*/.project

# ehcache
*.lock
/*/.lock
/*/.data

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
© 2020 GitHub, Inc.